/****** GLOBAL  ******/

* {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Play', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 150%;
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0;
  background-color: #f9f9f9;
}

article,
aside,
figcaption,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

b,
strong {
  font-weight: bold;
}

h1,
h3,
h4,
h5,
h6 {
  color: #f9f9f9;
}

h1 {
  font-size: 4.5em;
  color: #FFFFFF;
}

h2 {
  font-size: 3.125em;
}

h3 {
  font-size: 2.5em;
  color: #22252c;
}

h4 {
  font-size: 1.75em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.6em;
}

img {
  border: 0;
}

button, input, select, textarea {
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
html input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
  }

select {
  text-transform: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.justified {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

#page-container {
  overflow: hidden;
}


.full-wraper,
#full-wraper {
  width: 100%;
}

.ver-p {
  padding-top: 50px;
  padding-bottom: 50px;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/**** END OF GLOBAL ****/



/*** BEGINNING OF HEADER  ***/
#intro {
  height: 50vh;
  background: url(../img/marshall.jpg) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#intro .intro__content {
    position: relative;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
}

#intro .intro__content p {
      font-size: 1.25em;
      margin-bottom: 30px;
}

#intro .intro__content h2 {
  color: rgb(229, 65, 72);
}

.spacer {
    width: 105px;
    height: 3px;
    margin: auto;
    margin-bottom: 70px;
    background: #e14658;
}

.spacer-box {
    width: 22px;
    height: 22px;
    background: #e14658;
    position: absolute;
    left: 50%;
    top: 35%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*** ENDING OF HEADER  ***/


/*** BEGINNING OF MAIN ***/
.thumbnail {
  position: relative;
  text-align: center;
  display: block;
  padding: 4px;
  line-height: 1.42857143;
  -webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.thumbnail img {
  width: 100%;
  height: 200px;
}

.entry {
  opacity: 0.5;
  transition: ease-in-out 1s;
  -webkit-transition: ease-in-out 1s;
  -webkit-transition-timing-function: ease-in-out;
}

.entry:hover {
  opacity: 1;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 4px;
  background-color: #e14658;
  color: white;
  padding: 0 10px;
}

.bottom-right {
  position: absolute;
  bottom: 11px;
  right: 4px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.admin-tools i {
  padding: 5px;
  /* border-radius: 50%; */
  /* background-color: #22252c; */
  color: white;
}

.entry-controlls i {
  background-color: #e14658;
  color: #FFF;
  padding: 10px;
  border-radius: 50%;
}

.entry-controlls i:hover {
  background-color: #C0B3A0;
  transition: all 0.3s ease 0s;
}

.entry-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry-desc {
  margin-bottom: 50px;
}

.entry-title h4 {
  font-size: 1.75em;
  color: #22252c;
  margin: 0 auto;
}

.entry-img_int img {
  display: inline-block;
  max-width: 80%;
  height: auto;
}

.entry-img_int {
  margin-top: 50px;
}

.entry-date_int {
  max-width: 90%;
}

.entry-date_int h6 {
  color: #e14658;
  margin: 15px auto;
}

.entry-desc_int {
  margin-left: 10%;
  margin-right: 10%;
}

.entry-desc_int h5 {
  color: #3F3250;
}

.entry-desc h5 {
  color: #3F3250;
  margin: 0 auto;
  line-height: 120%;
  word-wrap: break-word;
}

.submit-btn,
.back-btn,
.edit-btn,
.save-btn {
  padding: 7px;
  width: 150px;
  margin: 0 auto;
  display: block;
  color: #22252c;
  outline: none;
  cursor: pointer;
  border: solid 2px #e14658;
  background-color: inherit;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;

  margin-bottom: 30px;
  margin-top: 15px;
}

.submit-btn:hover,
.back-btn:hover,
.edit-btn:hover,
.save-btn:hover {
  color: #e2dedb;
  background-color: #e14658;
}

.edit-btn {
  background: #0d93e8ad;
  color: #f2f2f2;
}

.back-btn {
  background: #C0B3A0;
  color: #22252c;
}

.save-btn {
  background: #3ab35c;
  color: #22252c;
}

.pagination {
  /* display: inline-block; */
  list-style-type: none;
}

.page-link {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #C0B3A0;
  margin: 0 4px;
}


.active .page-link {
  background-color: #3F3250;
  color: white;
  border: 1px solid #3F3250;
}

.page-link:hover:not(.active) {
  background-color: #C0B3A0;
}

.page-item {
  display: inline-block;
}


/***  BEGINNING OF SUGGEST SECTION  ***/
#suggest {
  background: #3F3250;
  padding: 50px 0;
}

#suggest h2 {
  margin: 0;
  font-size: 2em;
  color: #fff;
  font-weight: normal;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

label {
  display: block;
}

#form {
  position: relative;
  width: 100%;
  color: #3F3250;
}

input {
  font-size: 0.875em;
  height: 35px;
  padding: 0px 15px 0px 15px;
  margin-bottom: 10px;
  background: transparent;
  outline: none;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: inherit;
  color: #FFF;
}

#name,
#email {
  width: 100%;
  display: block;
}

#message {
  width: 100%;
  padding: 15px;
  height: 120px;
  background: transparent;
  outline: none;
  font-size: 0.875em;
  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 100px;
  margin: 0 auto;
  display: block;
  color: #b3aca7;
  outline: none;
  cursor: pointer;
  border: solid 2px #e14658;
  /* border-top: none; */
}

#submit:hover {
  background-color: #e14658;
}

#submit:hover {
  color: #e2dedb;
}
/*** ENDING OF SUGGEST SECTION ***/

/*** ENDING OF MAIN ***/


/*** BEGINNING OF FOOTER ***/
footer {
  background-color: #22252c;
  color: #FFFFFF;
  /* max-height: 30vh; */
  height: auto;
  padding-top: 30px;
}

footer a {
  font-size: 2em;
}

footer .legal {
  border-top: 1px solid #ededed;
  padding: 30px 0px;
}

footer .social-links {
  margin-bottom: 20px;
}


footer .fab {
  opacity: 0.5;
  color: white;
  padding: 0 10px;
}

footer .fab:hover {
  opacity: 1;
  transition: opacity 0.5s linear;
}

/*** ENDING OF FOOTER ***/
